* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px 'Segoe UI','DejaVu Sans',Helvetica,'Trebuchet MS',Arial,sans-serif;
    background: #FFF;
    font-weight: 100;
}
canvas {
    border: 1px solid #555;
}